@import "./imports/_variables";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: antiquewhite;
}

nav ul li a:hover {
  background: brown;
  transition: all 1.2s ease-in-out;
}

#div-logo img {
  width: 260px;
  height: auto;
}

#div-logo img:hover {
  transform: rotateY(360deg) scale(1);
  transform-style: preserve-3d;
  transition: all 3s ease-in-out;
}

#titulos {
  text-align: center;
}
.principal {
  height: 100%;
  display: grid;
  background-color: $base-color;

  grid-template-areas:
    "contenido3 encabe2"
    "contenido3 encabe2";

  justify-content: end;
  gap: 5px;
}
.contenido1 {
  padding: 20px 20px 20px 20px;
  grid-area: encabe1;
}
.contenido2 {
  padding: 20px 20px 20px 20px;
  grid-area: encabe3;
}

.parrafocomun {
  padding: 100px;
  display: flex;
  grid-area: contenido3;
  justify-content: center;
}

.parrafodestacado {
  @extend .parrafocomun;
  align-items: center;
  text-align: center;
}

@mixin parrafo_des($color, $size) {
  color: $color;
  font-size: $size;
}

.parrafo_galeria {
  @include parrafo_des(red, 30px);
}

p {
  padding: 20px;
  font-size: 24px;
}

.div-imagen1 {
  grid-area: encabe2;
  padding: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: $color-footer;
}

footer h3 {
  grid-area: pie;
}

.footer-info {
  color: white;
}


#form-contacto {
  text-align: left;
  margin-left: 30px;
}

.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-color;
}

.work {
  font-size: 2rem;
  margin: 4rem 0;
}
.blog,
.blogIzq {
  display: flex;
  align-items: center;
  width: 80%;
}
.blogIzq {
  flex-direction: row-reverse;
}
.blog div,
.blogIzq div {
  width: 60%;
  margin: auto;
  text-align: left;
}

#sec-hosteria {
  padding: 10px;
}

#sec-camping {
  padding: 10px;
}

.blog {
  div {
    h3 {
      h2 {
        padding: 10px;
      }
    }
  }
}

.blog-mensecc {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.blog-mensecc {
  a {
    text-decoration: none;
    color: black;
    background: yellow;
  }
}

.blog-mensecc {
  a:hover {
    color: rgb(248, 7, 7);
    background: #fff;
  }
}

i {
  font-size: 48px;
  color: white;
  padding: 0 5px;
}

i:hover {
  color: red;
}

h2 {
  animation: bounce 10s alternate infinite ease-in-out;
  @keyframes bounce {
    0% {
      transform: translateY(-10%);
    }
    10% {
      transform: translateY(0);
    }
  }
}
@keyframes bounce {
  0% {
    transform: translateX(10%);
  }
  30% {
    transform: translateX(-10%);
  }
}

$secciones: (
  video: red,
  foto: green,
  multimedia: Blue,
);

@each $seccion, $bcolor in $secciones {
  .sec--#{$seccion} {
    background-color: $bcolor;
  }
}


.sombra {
  box-shadow: 2px 2px 5px #999;
}
@media (max-width: 1050px) {
  .parrafodestacado {
    padding: 20px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  #div-logo {
    text-align: center;
  }
  #sec-hosteria {
    padding: 0px;
  }

  .principal {
    grid-template-areas:
      "encabe2"
      "contenido3";
  }
  .div-imagen1 {
    padding: 0px;
  }
  .div-imagen1 img {
    width: 100%;
  }

  .parrafodestacado {
    padding: 10px;
  }

  nav {
    ul {
      li {
        a {
          padding: 0rem;
        }
      }
    }
  }

  .blog,
  .blogIzq {
    flex-direction: column;
  }

  .blog-mensecc {
    flex-direction: column;
  }

  p {
    font-size: 14px;
  }
}
