* {
  padding: 0;
  margin: 0;
}

body {
  background-color: antiquewhite;
}

nav ul li a:hover {
  background: brown;
  -webkit-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

#div-logo img {
  width: 260px;
  height: auto;
}

#div-logo img:hover {
  -webkit-transform: rotateY(360deg) scale(1);
          transform: rotateY(360deg) scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

#titulos {
  text-align: center;
}

.principal {
  height: 100%;
  display: -ms-grid;
  display: grid;
  background-color: antiquewhite;
      grid-template-areas: "contenido3 encabe2" "contenido3 encabe2";
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 5px;
}

.contenido1 {
  padding: 20px 20px 20px 20px;
  grid-area: encabe1;
}

.contenido2 {
  padding: 20px 20px 20px 20px;
  grid-area: encabe3;
}

.parrafocomun, .parrafodestacado {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: contenido3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parrafodestacado {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.parrafo_galeria {
  color: red;
  font-size: 30px;
}

p {
  padding: 20px;
  font-size: 24px;
}

.div-imagen1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: encabe2;
  padding: 20px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  background-color: #b37D4e;
}

footer h3 {
  grid-area: pie;
}

.footer-info {
  color: white;
}

#form-contacto {
  text-align: left;
  margin-left: 30px;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: antiquewhite;
}

.work {
  font-size: 2rem;
  margin: 4rem 0;
}

.blog,
.blogIzq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.blogIzq {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blog div,
.blogIzq div {
  width: 60%;
  margin: auto;
  text-align: left;
}

#sec-hosteria {
  padding: 10px;
}

#sec-camping {
  padding: 10px;
}

.blog div h3 h2 {
  padding: 10px;
}

.blog-mensecc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.blog-mensecc a {
  text-decoration: none;
  color: black;
  background: yellow;
}

.blog-mensecc a:hover {
  color: #f80707;
  background: #fff;
}

i {
  font-size: 48px;
  color: white;
  padding: 0 5px;
}

i:hover {
  color: red;
}

h2 {
  -webkit-animation: bounce 10s alternate infinite ease-in-out;
          animation: bounce 10s alternate infinite ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  30% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
}

.sec--video {
  background-color: red;
}

.sec--foto {
  background-color: green;
}

.sec--multimedia {
  background-color: Blue;
}

.sombra {
  -webkit-box-shadow: 2px 2px 5px #999;
          box-shadow: 2px 2px 5px #999;
}

@media (max-width: 1050px) {
  .parrafodestacado {
    padding: 20px;
  }
  p {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  #div-logo {
    text-align: center;
  }
  #sec-hosteria {
    padding: 0px;
  }
  .principal {
        grid-template-areas: "encabe2" "contenido3";
  }
  .div-imagen1 {
    padding: 0px;
  }
  .div-imagen1 img {
    width: 100%;
  }
  .parrafodestacado {
    padding: 10px;
  }
  nav ul li a {
    padding: 0rem;
  }
  .blog,
  .blogIzq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-mensecc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    font-size: 14px;
  }
}
